* {
    margin: 0;
    font-family: Exo;
  }
  
  body {
    background: black;
  }
  
  header {
    background-color: #fcb823;
    color: black;
    font-family: 'Exo';
    text-align: center;
    padding: 16px;
  }
  
  header span {
    color: white;
  }
  
  .container {
    margin: 32px auto;
    padding: 32px;
    background-color: #fcb823;
    max-width: 50%;
    color: #3A404A;
    border-radius: 4px;
    backdrop-filter: blur(12px);
  }
  
  .container h2 {
    font-size: 14px;
    font-weight: 500;
  }
  
  .form {
    margin-top: 16px;
  }
  
  .form input {
    border: 1px solid #dcdce6;
    border-radius: 4px;
    padding: 8px 24px;
    margin-top: 16px
  }
  
  .form button {
    margin-top: 16px;
    background-color: black;
    border: none;
    color: white;
    font-weight: 500;
    padding: 8px;
    border-radius: 4px;

  }